[submodule "log_events_processing"]
	path = log_events_processing
	url = https://github.com/ashrithr/LogEventsProcessing.git
[submodule "index_tweets_solr"]
	path = index_tweets_solr
	url = https://github.com/ashrithr/index_tweets_solr.git
[submodule "index_logs"]
	path = index_logs
	url = https://github.com/ashrithr/index_logs.git
